* {
    margin: 0;
    padding: 0;
}

.reg-content-box {
    display: flex;
    justify-content: end;
    align-items: center;
    height: 100%;
}

.reg-content {
    padding-right: 50px;
    width: 500px;
}

.reg-content h2 {
    font-size: 34px;
    font-weight: 700;
    color: #11175D;
    font-family: "Nunito", sans-serif;
}

.reg-content p {
    font-size: 20px;
    font-weight: 400;
    color: #808080;
    font-family: "Nunito", sans-serif;
    padding-top: 13px;
    padding-bottom: 39px;
}

.reg-content p:last-child {
    font-size: 13px;
    color: #11175D;
    margin-left: 48px;
}

.reg-content p:last-child span {
    color: #EA6C00;
}

.reg-image {
    height: 100vh;
    width: 100%;
    display: block;
    object-fit: cover;
}


.logo-box {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 10px;
    width: 220px;
    height: 62px;
    border: 1px solid rgba(3, 1, 76, 0.3);
    border-radius: 8px;
    margin: 30px 0px;
    cursor: pointer;
}

.logo-box p {
    margin-left: 0px !important;
    padding: 0px !important;
    font-size: 12px;
    color: #03014C;
}

.password-input {
    position: relative;
}

.icon-box {
    position: absolute;
    top: 55px;
    left: 260px;

}

.error-message {
    background: red;
    padding: 10px 10px !important;
    width: 60%;
    box-sizing: border-box;
    border-radius: 10px;
    color: white !important;
    margin-top: 10px !important;
}

.forget-password {
    padding-left: 70px;
    cursor: pointer;
}





.new-ui-for-forgetpassword {
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.6);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;

}

.forgetpassword-box {
    width: 500px;
    padding: 100px 100px;
    background: white;
    border-radius: 20px;
    box-shadow: 0px 0px 10px black;


}

.button-box {
    display: flex;
    column-gap: 10px;
}

.forgetpassword-box .sajibkhan {
    width: 100% !important;
}

.forgetpassword-box .error-message {
    width: 100% !important;
}

/* Sideber design start */

.sideber-layout {
    background: #5F35F5;
    height: 95vh;
    width: 80%;
    margin: 22px auto;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 40px 0px;
    box-sizing: border-box;
   
}
.possition-h4{
    position: relative;
}
.sideber-layout h4{
    position: absolute;
    top: 125px;
    left: 50%;
    color: white;
    text-transform: capitalize;
    transform: translateX(-50%);
    width: 90px;
}

.profile-layout {
    width: 110px;
    height: 110px;
    border-radius: 100%;
    position: relative;
    overflow: hidden;
}
.profile-layout img{
     width: 100%;
    height: 100%;

}

.profile-layout .overly{
    width: 100%;
    height: 100%;
    border-radius: 100%;
    background: rgba(0, 0, 0,0.6);
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: .5s;

}
.profile-layout .overly .icon{
    color: white;

}
.profile-layout:hover .overly{
    opacity: 1;

}
.profile-layout img {
    width: 100%;
}

.page-layout {
    display: flex;
    flex-direction: column;
    row-gap: 66px;
}

.page-icon {
    color: rgba(255, 255, 255, 0.70);
    font-size: 50px;
}

.popup-image{
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0,0.5);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    display: flex;
    justify-content: center;
    align-items: center;
}
.popup-image-box{
    width: 600px;
    padding: 30px;
    background: white;
    border-radius: 10px;
}
.popup-image-box h2{
    padding-bottom: 30px;
    font-size: 40px;

}

.logout-icon {
    color: white;
}

.active .page-icon {
    color: #5F35F5;

}

.active {
    position: relative;
    z-index: 2;
}

.active::after {
    background: white;
    width: 160px;
    height: 100px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    position: absolute;
    top: -22px;
    left: -22px;
    content: "";
    z-index: -1;
}

.active::before {
    background: #5F35F5;
    width: 15px;
    height: 100px;
    border-radius: 10px;
    position: absolute;
    top: -22px;
    left: 134px;
    content: "";
    z-index: 1;
}

/* Sideber design end */
.grid-division {
    margin-top: 23px;
    margin-right: 30px;
}
.friendrequstlist-box{
    margin-top: 100px;
    
}

.userlist-box {
    width: 100%;
    height: 350px !important; 
    
}
.userlist-input-box{
    position: relative;
}

.userlist-input-box input {
    width: 100%;
    background: white;
    border-radius: 20px;
    border: 0px;
    padding: 18px 70px;
    box-sizing: border-box;
   box-shadow: 0px 18px 15px 0px rgba(0,0,0,0.11);
     -webkit-box-shadow: 0px 18px 15px 0px rgba(0,0,0,0.11);
    -moz-box-shadow: 0px 18px 15px 0px rgba(0,0,0,0.11);
}

.userlist-input-box .search{
    position: absolute;
    top: 50%;
    left: 25px; 
    transform: translateY(-50%);
       
}
.userlist-input-box .threedot{
    position: absolute;
    top: 50%;
    right: 25px;
    transform: translateY(-50%);
    color: #5F35F5;
    
}
.userlist-profile-box{
    overflow-Y: scroll;
    height: 100%;
    margin-top: 20px;
    border-radius: 20px;
    box-shadow: 0px 18px 15px 0px rgba(0,0,0,0.11);
     -webkit-box-shadow: 0px 18px 15px 0px rgba(0,0,0,0.11);
    -moz-box-shadow: 0px 18px 15px 0px rgba(0,0,0,0.11);
   
}
.userlist-profile-box .title-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 25px;
}
.userlist-profile-box .title-box h4{
    font-size:20px ;
    font-weight: 600;
    color: black;
    font-family: "Nunito", sans-serif;

}
.userlist-profile-box .title-box .threedot{
    color: #5F35F5;
}
.image-box {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    padding-right: 20px;
}
.image-box img{
    width: 100%;
    height: 100%;
}
.title-profile{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 25px;
    
    position: relative;
}
.title-profile::after{
    width: 90%;
    height: 1px;
    background: rgba(0, 0, 0,0.25);
    position: absolute;
    bottom: 0;
    left: 22px;
    content: "";
}
.title-profile .title-pere{
    display: flex;
    align-items: center;
}
.title-profile h4{
    font-size: 18px;
    font-weight: 600;
    color: black;
     font-family: "Nunito", sans-serif;
}
.title-profile p{
    font-size: 14px;
    font-weight: 500;
    color: #4D4D4D;
     font-family: "Nunito", sans-serif;
}
.title-profile button{
    font-size: 18px;
    font-weight: 600;
    color: #fff;
     font-family: "Nunito", sans-serif;
     padding: 2px 15px;
     background: #5F35F5;
     border: 0px;
     border-radius: 10px;
}
.preview-box{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    margin: 20px 0px;
}

.preview-round{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.create-group{
    background: blue;
    color: white;
    font-size: 20px;
    font-weight: 500;
    border: 0;
    border-radius: 10px;
    padding: 4px 12px;
}
.user-empty{
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    padding-top: 30px;
    color: rgb(131, 16, 16);
}

/* Chat box Design */
.sigle-box{
    height: 910px;
    width: 74%;
    margin-top: 10px;
     border-radius: 20px;
     box-shadow: 0px 18px 15px 0px rgba(0,0,0,0.11);
     -webkit-box-shadow: 0px 18px 15px 0px rgba(0,0,0,0.11);
    -moz-box-shadow: 0px 18px 15px 0px rgba(0,0,0,0.11);
    padding: 24px 50px;
    box-sizing: border-box;

}

.chat-box{
    border-bottom: 1px solid rgba(0, 0, 0,0.25);
    padding-bottom: 20px;
    margin-bottom: 70px;
    display: flex;
    justify-content: space-between;

}

.chat-box .profile-box{
    display: flex;
    column-gap: 33px;
     

    
   
}
.chat-box .profile-name{
    margin-top: 8px;
}
.chat-box .profile-design{
    margin-top: 14px;
}
.chat-box .profile-image{
    width: 75px;
    height: 75px;
    border-radius: 50%;
}
.chat-box .profile-image img{
    width: 100%;
}
.chat-box .profile-name h4{
    font-size: 24px;
    font-weight: 600;
    font-family: "Nunito", sans-serif;
    color: #000;


}
.chat-box .profile-name p{
    font-size: 14px;
    font-weight: 400;
    font-family: "Nunito", sans-serif;
    color: #000;


}
.chat-box .profile-design .threedot{
    font-size: 24px;
    color: #5F35F5;
}
/* sender-design design */
/* sender-design design */
.sigle-box .box{
    height: 70%;
    overflow-y: scroll;
}
.sender-design {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 20px;
  display: flex;
  justify-content: flex-start;
}

.receiver-design {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
  display: flex;
  justify-content: flex-end; 
}


.message-box {
  max-width: 70%;          
  display: inline-block;   
  word-wrap: break-word;
  padding: 0;              
}


.sender-design h6 {
  background: #f1f1f1;
  color: #000;
  font-size: 16px;
  font-weight: 500;
 font-family: "Poppins", sans-serif;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 0;
  padding: 10px 52px;    
  display: inline-block;
  position: relative;
}

.sender-icon {
    position: absolute;
    bottom: -1px ;
    left: -7px;
    color: #f1f1f1;
}
.receiver-design h6 {
  background: blue;
  color: white;
  font-size: 16px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 0;
  padding: 10px 52px;
  display: inline-block;
  position: relative;
}
.receiver-icon{

    position: absolute;
       bottom: -1px ;
       right: -7px;
       color: blue;
}

.sender-design p,
.receiver-design p {
  font-size: 12px;
  font-weight: 500;
  margin-top: 4px;
  font-family: "Poppins", sans-serif;
  color: rgba(0, 0, 0, 0.25);
}
.sender-design img{
    width: 350px;
    height: 460px;
    border-radius: 10px;
}
.receiver-design img{
    width: 350px;
    height: 460px;
    border: 14px solid blue;
    border-radius: 10px;
}



/* sender-design design */
/* sender-design design */

.send-messages-box{
    margin-right: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid rgb(0, 0, 0,0.25);
    margin-top: 10px;
    padding-top: 24px;
}
.send-messages-box .input-box{
    width: 90%;
    position: relative;
   
    
}
.emoji-box{
    position: absolute;
    top: -455px;
    right: -60px;

}
.send-messages-box .input-box .emoji{
    
    position: absolute;
    right: 60px;
    top: 16px;
    font-size: 22px;
   
    
}
.camera-box{
    position: relative;
}
.camera-box input{
    display: none !important;
}


.send-messages-box .input-box .camera{
    
    position: absolute;
    right: 24px;
    top: -50px;
    font-size: 26px;
   
    
}

.send-messages-box .input-box input{
   
    padding-left: 10px;
    padding-right: 100px;
    padding-bottom: 20px;
    padding-top: 20px;
    width: 100%;
    background: #F1F1F1;
    border-radius: 10px;
    border: 0px;
    display: inline-block;
    box-sizing: border-box;
    font-size: 20px;
    
}


.send-messages-box .button .send-icon{
    background: blue;
    font-size: 20px;
    color: white;
    padding: 15px;
    border-radius: 10px;
    

   

}
.extra-margin{
    margin-top: 150px;
}

