*{
    margin: 0;
    padding: 0;
}
.reg-content-box{
    display: flex;
    justify-content: end;
    align-items: center;
    height: 100%;
}
.reg-content{
    padding-right: 50px;
    width: 500px;
}
.reg-content h2{
    font-size: 34px;
    font-weight: 700;
    color: #11175D;
    font-family: "Nunito", sans-serif;
}
.reg-content p{
    font-size: 20px;
    font-weight: 400;
    color: #808080;
    font-family: "Nunito", sans-serif;
    padding-top: 13px;
    padding-bottom: 39px;
}
.reg-content p:last-child{
    font-size: 13px;
    color: #11175D;
    margin-left: 48px;
}
.reg-content p:last-child span{
    color: #EA6C00;
}

.reg-image{
    height: 100vh;
    width: 100%;
    display: block;
    object-fit: cover;
}


.logo-box{
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 10px;
    width: 220px;
    height: 62px;
    border: 1px solid rgba(3, 1, 76,0.3);
    border-radius: 8px;
    margin: 30px 0px;
}
.logo-box p{
    margin-left: 0px !important;
    padding: 0px !important;
    font-size: 12px;
    color: #03014C;
}
.password-input{
    position: relative;
}
.icon-box{
    position: absolute;
    top: 55px;
    left: 260px;
    
}
.error-message{
    background: red;
    padding: 10px 10px !important;
    width: 60%;
    box-sizing: border-box;
    border-radius: 10px;
    color: white !important;
    margin-top: 10px !important;
}
